{% extends 'base.html' %} {% block title %} Create a Tag {% endblock %} {% block
content %}
<h1>Create a Tag</h1>
<form>
  <label for="name"></label>
  <input type="text" name="name" placeholder="Enter a name for the tag" />
  <br />
  <br />
  <button
    type="submit"
    class="btn btn-dark"
    formmethod="GET"
    formaction="/tags"
  >
    Cancel
  </button>
  <button
    type="submit"
    class="btn btn-success"
    formmethod="POST"
    formaction="/tags/new"
  >
    Add
  </button>
</form>
{% endblock %}
